---
layout: inner
title: Projects
permalink: /projects/
---
<div class="container">
    <h1>Lista de projetos do GitHub 8 (Teste: troca chaves GitHub)</h1>
    <div class="row">
        <div class="col-md-12">

            {% for repository in site.data.repos %}
            {% if repository.fork == false and repository.archived == false %}
            <h3 class="title wow fadeIn">{{ repository.name }}</h3>
            <p class="wow fadeIn">{{ repository.description }}</p>
            <a href="{{repository.html_url}}" class="project-link">
                <button class="btn btn-default btn-lg">
                    <i class="fa fa-github fa-lg wow fadeIn"> {{ repository.name }} </i>
                </button>
            </a>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>